In [120]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [121]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1679,tt0337978,110000000,383531464,Live Free or Die Hard,Bruce Willis|Justin Long|Timothy Olyphant|Clif...,Len Wiseman,The old school cop is back!,"John McClane is back and badder than ever, and...",128,Action|Thriller,Ingenious Film Partners|Twentieth Century Fox ...,6/20/2007,6.3,2007
88,tt2404425,11000000,61619773,Woman in Gold,Helen Mirren|Ryan Reynolds|Tatiana Maslany|Kat...,Simon Curtis,Justice is Priceless.,"Maria Altmann, an octogenarian Jewish refugee,...",120,Drama,BBC Films|Origin Pictures,4/10/2015,7.3,2015
1867,tt0181536,43000000,80049764,Finding Forrester,Sean Connery|Rob Brown|F. Murray Abraham|Anna ...,Gus Van Sant,"In an ordinary place, he found the one person ...",Gus van Sant tells the story of a young Africa...,136,Drama,Fountainbridge Films|Laurence Mark Productions...,12/21/2000,6.9,2000
1152,tt0269347,55000000,34234008,The Hunted,Tommy Lee Jones|Benicio del Toro|Connie Nielse...,William Friedkin,Some men should not be found.,"In the wilderness of British Columbia, two hun...",94,Drama|Action|Thriller|Crime,Lakeshore Entertainment|Alphaville Films,3/11/2003,5.8,2003
1564,tt0332280,29000000,115603229,The Notebook,Rachel McAdams|Ryan Gosling|Gena Rowlands|Jame...,Nick Cassavetes,Behind every great love is a great story.,An epic love story centered around an older ma...,123,Romance|Drama,New Line Cinema,6/25/2004,7.5,2004

In [222]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [122]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# As far as in requests we need only months, it will be enouth to have separate month column.

from datetime import datetime # import date prosessing means
dateFormatter = "%m/%d/%Y"    # detting date format

data['month'] = data.release_date.apply(lambda x: datetime.strptime(str(x), dateFormatter).month)

# for each instance of release_date processes date and define month

# actor's names are listed with separator | in a single instance
# so we need to distribute them into columns

data.cast = data.cast.apply(lambda x: str(x).split('|'))


# director's names are listed with separator | in a single instance
# so we need to distribute them into columns

data.director = data.director.apply(lambda x: str(x).split('|'))


# production studio's names are listed with separator | in a single instance
# so we need to distribute them into columns

data.production_companies = data.production_companies.apply(lambda x: str(x).split('|'))


# genres definitions are listed with separator | in a single instance
# so we need to distribute them into columns

data.genres = data.genres.apply(lambda x: str(x).split('|'))


#dataset has no value that describes profit
# so we need to calculate profit and add it to the dataset
data['profit'] = data['revenue'] - data['budget']


data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
992,tt1386703,125000000,198802074,Total Recall,"[Colin Farrell, Kate Beckinsale, Jessica Biel,...",[Len Wiseman],What Is Real?,"Welcome to Rekall, the company that can turn y...",121,"[Action, Science Fiction, Adventure, Thriller]",[Columbia Pictures],8/2/2012,5.8,2012,8,73802074
1657,tt0349825,28000000,64445708,Miracle,"[Kurt Russell, Patricia Clarkson, Noah Emmeric...",[Gavin O'Connor],"If you believe in yourself, anything can happen.","In 1980, the United States Ice Hockey team's c...",135,"[Drama, History]",[Walt Disney],2/6/2004,6.8,2004,2,36445708
1102,tt0322589,18000000,62646763,Honey,"[Jessica Alba, Mekhi Phifer, Joy Bryant, Romeo...",[Bille Woodruff],Her dream. Her terms,Honey Daniels (Jessica Alba) dreams of making ...,94,[Music],"[Universal Pictures, Marc Platt Productions, N...",11/24/2003,6.0,2003,11,44646763
178,tt1408253,25000000,153997819,Ride Along,"[Ice Cube, Kevin Hart, John Leguizamo, Bruce M...",[Tim Story],Propose to this cop's sister? Rookie mistake.,"For the past two years, high-school security g...",99,"[Action, Comedy]","[Universal Pictures, Rainforest Films, Cube Vi...",1/17/2014,6.1,2014,1,128997819
609,tt0859163,145000000,401128639,The Mummy: Tomb of the Dragon Emperor,"[Brendan Fraser, Jet Li, John Hannah, Maria Be...",[Rob Cohen],A New Evil Awakens.,The third installment in the Mummy franchise t...,112,"[Adventure, Fantasy, Action, Thriller]","[Universal Pictures, China Film Co-Production ...",7/1/2008,5.1,2008,7,256128639

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [123]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# + 

"""Several tasks with correct results and special preprocessing are provided lower in the notebook in special section"""

'Several tasks with correct results and special preprocessing are provided lower in the notebook in special section'

In [258]:
data_great = data.sort_values(['budget'],ascending = False).head(1)
data_great[['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [195]:
# another way to solve this task

budget_great = data.loc[(data.budget == data.budget.max())]
budget_great[['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [124]:

answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [225]:
data_long = data.loc[data.runtime == data.runtime.max()].head(1)
data_long[['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [125]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

data_short = data.loc[data.runtime == data.runtime.min()].head(1)
data_short[['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [126]:
answers['4'] = '110'
# +

mean_time = data['runtime'].mean()
print(mean_time)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [127]:
answers['5'] = '107'
# +

median_time = data['runtime'].median()
print(median_time)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [128]:
answers['6'] = 'Avatar (tt0499549)'
# +

film_rent_higher = data.loc[data.profit == data.profit.max()].head(1)
film_rent_higher[['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [129]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

film_nonrent_lower = data.loc[data.profit == data.profit.min()].head(1)
film_nonrent_lower[['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [130]:
answers['8'] = '1478'
# +

film_rent_num = data.loc[data.profit >= 0]
film_rent_num.imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [131]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

film_of_the_2008 = data.loc[data.release_year == 2008].sort_values(['revenue'], ascending=False).head(1)
film_of_the_2008[['imdb_id','original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [132]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

bad_film = data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(['profit']).head(1)
bad_film[['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [133]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = 'Drama'
# +
data = data.explode('genres')
favourite_genre = data.genres.value_counts()
print(favourite_genre)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [17]:
favourite_genre_1 = data.groupby(['genres'])['imdb_id'].nunique().sort_values(ascending=False)
# favourite_genre_1 = data.groupby(['genres'])['imdb_id'].sum().sort_values().head(1)
print(favourite_genre_1)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [134]:
answers['12'] = 'Drama'
# +

profit_genre = data.loc[data.profit >= 0]
favourite_profit_genre = profit_genre.genres.value_counts().head(1)
print(favourite_profit_genre)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [135]:
answers['13'] = 'Peter Jackson'
# +
data = data.explode('director')
great_director = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(10)
print(great_director)

director
Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
Francis Lawrence     11443904006
James Cameron        11160105130
Gore Verbinski       10905898334
Andrew Adamson       10526614990
Steven Spielberg      9694351400
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [136]:
answers['14'] = 'Robert Rodriguez'
# +

data = data.explode('director')

action_director_1 = data.loc[(data.genres.str.contains("Action", na=False))]

action_director_1.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [137]:
# see special section

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [139]:

# see special section

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [140]:
answers['17'] = 'Action'
# +
data = data.explode('genres')
data = data.explode('cast')
films_Cage = data.genres[data.cast.str.contains("Cage",na=False)].value_counts().head(1)
print(films_Cage)

Action    19
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [141]:
answers['18'] = 'K-19: The Widowmaker'
# +
data = data.explode('production_companies')
Para_fail = data.profit[data.production_companies == "Paramount Pictures"].min()
data.loc[data.profit == Para_fail]['original_title'].head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [142]:
answers['19'] = '2015'
# +

good_year_list = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)
print(good_year_list)

release_year
2015    1437371386905
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [143]:
 # see special section

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [144]:
answers['21'] = '9 (сентябрь)'
# +

data['month'] = data.release_date.apply(lambda x: datetime.strptime(str(x), dateFormatter).month)
good_month = data.groupby(['month'])['imdb_id'].nunique().sort_values(ascending=False).head(1)
print(good_month)

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [145]:
answers['22'] = '450'
# +

summer = data.loc[(data.month == 6) | (data.month == 7) | (data.month == 8)].nunique().head(1)
print(summer)

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [146]:
answers['23'] = 'Peter Jackson'
# +

winter = data.loc[(data.month == 12) | (data.month == 1) | (data.month == 2)]

winter_director = winter.groupby(['director'])['imdb_id'].nunique().sort_values(ascending=False).head(1)
print(winter_director)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [147]:
answers['24'] = 'Four By Two Productions'
# +

"""it is worth noting that the answer itself is not directly given here"""

"""it is required to select one relevant name"""

# here a special preprocessing added: calculation of folm title length in symbols
# this data is relatively special, it is not pretty important in general analysis, so it is added ad hoc
data['title_length'] = data.original_title.apply(lambda x: len(str(x)))

data_1 = data.title_length.max()

data.loc[data.title_length == data_1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit,title_length
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Ken Davitian,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Ken Davitian,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Luenell,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Luenell,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Pamela Anderson,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Pamela Anderson,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Bob Barr,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,11,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Bob Barr,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,11,243572744,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [148]:
answers['25'] = 'Midnight Picture Show'
# +

# here a special preprocessing added: calculation of folm title length in symbols
# this data is relatively special, it is not pretty important in general analysis, so it is added ad hoc
# the lenght of description in words is calculated regarding space symbols

data['descr_length'] = data.overview.apply(lambda x: str(x).count(' ')+1)
descr_long = data.groupby(['production_companies'])['descr_length'].mean().sort_values(ascending=False).head(1)

print(descr_long)

production_companies
Midnight Picture Show    175.0
Name: descr_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [149]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

"""it is worth noting that the answer itself is not directly given here"""

"""it was required to select relevant group of titles"""

border = data.quantile(0.99, numeric_only=True)['vote_average']

data.loc[data.vote_average >= border]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit,title_length,descr_length
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy,Walt Disney Pictures,6/9/2015,8.0,2015,6,678708609,10,112
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy,Pixar Animation Studios,6/9/2015,8.0,2015,6,678708609,10,112
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy,Walt Disney Studios Motion Pictures,6/9/2015,8.0,2015,6,678708609,10,112
9,tt2096673,175000000,853708609,Inside Out,Phyllis Smith,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy,Walt Disney Pictures,6/9/2015,8.0,2015,6,678708609,10,112
9,tt2096673,175000000,853708609,Inside Out,Phyllis Smith,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy,Pixar Animation Studios,6/9/2015,8.0,2015,6,678708609,10,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1800,tt0209144,9000000,39723096,Memento,Mark Boone Junior,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Thriller,I Remember Productions,10/11/2000,7.9,2000,10,30723096,7,78
1800,tt0209144,9000000,39723096,Memento,Russ Fega,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Thriller,Summit Entertainment,10/11/2000,7.9,2000,10,30723096,7,78
1800,tt0209144,9000000,39723096,Memento,Russ Fega,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Thriller,Newmarket Capital Group,10/11/2000,7.9,2000,10,30723096,7,78
1800,tt0209144,9000000,39723096,Memento,Russ Fega,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Thriller,Team Todd,10/11/2000,7.9,2000,10,30723096,7,78
1800,tt0209144,9000000,39723096,Memento,Russ Fega,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Thriller,I Remember Productions,10/11/2000,7.9,2000,10,30723096,7,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [150]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

data = pd.read_csv('movie_bd_v5.csv')
from itertools import combinations

pairs = Counter()

for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1

pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [185]:
# special section

In [151]:
answers['15'] = 'Chris Hemsworth'
# +

# Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['year'] = data.release_date.apply(lambda x:(int(x[-4::1])))
data.cast = data.cast.apply(lambda x: str(x).split('|'))
data = data.explode('cast')


data_1 = data.loc[data.year == 2012]


profit_actor = data_1.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)
print(profit_actor)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [152]:
answers['16'] = 'Matt Damon'
# +

# Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке. correct
data = pd.read_csv('movie_bd_v5.csv')

data.cast = data.cast.apply(lambda x: str(x).split('|'))
data_1 = data.explode('cast')

films_budget_average = data_1.loc[data.budget >= data.budget.mean()]
actor_average = films_budget_average['cast'].value_counts().head(1)
print(actor_average)

Matt Damon    18
Name: cast, dtype: int64

In [153]:
answers['20'] = '2014'
# +

# Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['year'] = data.release_date.apply(lambda x:(int(x[-4::1])))
data.production_companies = data.production_companies.apply(lambda x: str(x).split('|'))
data_1 = data.explode('production_companies')

WB_year_1 = data_1.loc[data_1.production_companies.str.contains("Warner",na=False)]
WB_year_1.describe
WB_year_2 = data_1.loc[data_1.production_companies == "Warner Bros. Pictures"]
WB_year_2.describe

WB_good_year_lst = WB_year_1.groupby(['year'])['profit'].sum().sort_values(ascending=False).head(1)

print(WB_good_year_lst)

year
2014    2292949646
Name: profit, dtype: int64

In [154]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '21': '9 (сентябрь)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '20': '2014'}

In [155]:
len(answers)

27